<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/gambar.JPG" alt="gambar" width="200" class="rounded-circle">
            <h1 class="display-4">josrel</h1>
            <h2 class="lead">Maranatha Christian University | HAHAHA</h2>
        </div>
    </div>
</div>