<div class="container">
  <div class="row">
    <div class="col col-md-8 mt-5">
      <form method="post" action="/submain_discussion">
<br>
        <% if (typeof errors != 'undefined') { %>
          <div class="alert alert-danger" role="alert">
              <ul>
                  <% errors.forEach(error => { %>
                      <li><%= error.msg %> </li>
                  <% }) %>
              </ul>
            </div>
      <% } %>

        <div class="mb-3">
          <label for="nama" class="form-label">Judul Thread</label>
          <input type="text" class="form-control" id="nama" aria-describedby="emailHelp" name="nama" required>
        </div>
        <div class="mb-3">
          <label for="nomor" class="form-label">Deskripsi</label>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="deskripsi"></textarea>
          </div>
        </div>

        
        <select class="selectpicker" data-style="btn-info" name="selectpicker">
          <optgroup label="Pilih merk">
          <% submain.forEach(element => { %>
                    <option name="table1" name="selectpicker" value="<%= element.nama_kategori %>"><%= element.nama_kategori %></option>
                    <% }) %>
                  </optgroup>
              </select>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>