<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
</head>
<body>
    <h1>Hello express index !</h1>
    <a href="/index">Index</a> |
    <a href="/about">About</a> |
    <a href="/contact">Contact</a>

            <h1>Hallo express <%= nama %> </h1>
            <h1>Contact list</h1>
            <h2><% cont.forEach(kontak => { %>
                <ul>
                    <li>nama : <%= kontak.nama %> </li>
                    <li>email : <%= kontak.email %> </li>
                </ul>

<% }) %></h2>
</body>
</html>